__pycache__/
*.py[cod]
/build/
/dist/
/.local/
/.repo-bootstrap/
*.blend*
*.bsp
*.wad
*.pak
*.log
*.so
*.dll
*.dylib
.texture-cache/
third-party/compilers/*
!third-party/compilers/README.md
third-party/python/*
!third-party/python/README.md
